.grid-container {
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: #000;
    display: grid;
    grid-gap: 2px;
    padding: 2px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.grid-container div {
    background-color: transparent;
    border: 1px solid #a9a9a9;
}